@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
#menu-2 .navbar-toggler {
  color: #000000;
}
#msg-box5-7 .mbr-section-title {
  text-align: left;
}
#msg-box5-7 .lead P {
  text-align: left;
}
#msg-box5-a .mbr-section-title {
  text-align: left;
}
#msg-box5-a .lead P {
  text-align: left;
}
#msg-box5-1d .mbr-section-title {
  text-align: left;
}
#msg-box5-1d .lead P {
  text-align: left;
}
#menu-5 .navbar-toggler {
  color: #000000;
}


#menu-c .navbar-toggler {
  color: #000000;
}
#msg-box5-e .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
}
#msg-box5-e .mbr-section-title B {
  font-size: 46px;
}
#content5-i .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
}
#msg-box5-j .lead P {
  text-align: left;
}
#msg-box5-m .lead P {
  text-align: left;
}


#menu-n .navbar-toggler {
  color: #000000;
}
#msg-box5-x .lead P {
  text-align: left;
}
#msg-box5-13 .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
}
#msg-box5-v .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
}
#menu-14 .navbar-toggler {
  color: #000000;
}
#msg-box5-1a .lead P {
  text-align: left;
}
